body {
    font-family: Consolas;
}
table, tr, td, th, tbody, thead {
    border: solid 1px;
    border-collapse: collapse;
    background-color: white;
}
table, tr, thead, tbody {
    width: 100%;
}
.wrapper {
    width: 100%;
    height: 85vh;
    overflow: auto;
    position: relative;
}
thead,
tr>th {
    position: sticky;
}

thead {
    top: 0;
    z-index: 2;
}
a:visited, a {
    color: darkblue;
    text-decoration: none;
}
a.last-visited-conference {
    color: red;
    text-decoration: none;
}
a.selected {
    color: red;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.unknown > td {
    background-color: gainsboro;
}
.anonymous > td {
    background-color: pink;
}
.absent > td {
    color: gray;
}
.required-participants {
    background-color: lightgreen;
}
.excess-participants {
    background-color: orange;
}
.anonymous-title {
    text-align: center;
    font-style: italic;
}
.active-conference {
    color: darkred;
}
.tooshort-conference {
    color: darkgray;
}
.number {
    text-align: right;
}
.center {
    text-align: center;
}
.error {
    background-color: lightpink;
}
.info {
    background-color: lightgreen;
}
